.bouton_slide
{
  background : white;
  border:solid red;
  margin-top:-170px;
  height:50px;
  font-size:25px;
}

.image_slide_accueil
{
  height: 400px;
  width: 400px;
  border:solid black;
}

#bouton_slide_droite
{
  float:left;
  margin-left:-50px;
}

#bouton_slide_gauche
{
  float:right;
  margin-right:-50px;
}

section
{
  border:solid yellow;
  height : 300px;
}


