.bouton_slide
{
  background : white;
  border : white;
  margin-top:-255px;
  height:50px;
  font-size:30px;
}

.image_slide_accueil
{
  margin-top:10px;
  height: 500px;
  width: 890px;
}

#bouton_slide_droite
{
  float:left;
  margin-left:-50px;
}

#bouton_slide_gauche
{
  float:right;
  margin-right:-50px;
}

section
{
  height : 300px;
}


