.logo
{
	float:left;
}

header h1 /*Pour modifier l'apparence du titre du site.*/
{
	color:red;
	font-size:3em;
	text-align:center;
	font-weight:bold;
	text-shadow:2px 2px 0.5px #EB9898;
}

/*Enlève le soulignement des liens, et les mets en gras quand on les survole.*/
a, a:hover, a:visited
{
	text-decoration:none;
}

a:hover
{
	font-weight:bold;
}

header /*Pour faire la bordure de séparation entre l'en-tête et le reste de la page.*/
{
	border-bottom: ridge black 2px;
}

header p /*Pour modifier l'apparence de la bande de l'en-tête.*/
{
	text-decoration:none;
	text-align:right;
	font-style:normal;
	color:#4D585C;
}

/*Modifie la couleur des liens dans l'en-tête.*/
header a, header a:hover, header a:visited
{
	color:#4D585C;
}



nav /*Pour modifier l'alignement, afficher une couleur de fond au menu et changer la couleur de l'écriture.*/
{
	text-align:center;
	background-color:#635B5B;
	color:white;
}

nav li /*Pour rendre la liste horizontale.*/
{
	display:inline; /*"Affichage en ligne".*/
	margin:5%;
	padding:0%;
}

nav ul ul /*Pour cacher le sous-menu*/
{
	display:none;
}

nav li:hover /*Pour changer l'apparence de la partie survolée*/
{
	font-weight:bold;
}

nav li:hover .sous-menu/*Pour faire apparaître le sous-menu de la partie qu'on survole.*/
{
	display:block;
}

/*Les trois prochaines définitions sont pour modifier l'apparence des liens dans la navigation.*/
nav a, nav a:hover, nav a:visited
{
	color:black;
}

.partie
{
	font-size:1.5em;
}

body a, body a:hover, body a:visited
{
	color:black;
}

body ul li
{
	list-style:none;
}















