circle{
  opacity: 1;
  fill:rgb(180,0,0);
}
circle:hover{
  fill:rgb(140,0,0);
  opacity: 1;
  transition :0.3s fill;
}

.hidden{
  display:none;
}
.active{
  color: white;
  background:rgba(0,0,0,.4);
  border-radius: 3px;
  width: 170px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid rgba(80,0,0,.8);
}

.image_popup
{
  margin-top:5px;
  width: 150px;
  border: 1px solid black;
}
ul
{
  list-style: none;
}

@media all and (max-width: 1500px) {
  #menu_nav
  {
    display: none;
  }
}
@media all and (max-width: 1200px) {
  .svg
  {
    display: none;
  }
}

@media all and (min-width: 1200px) {
  #hidden_plan
  {
    display:none;
  }
}
  