body
{
    font-family: 'Oswald', sans-serif;
	margin: 0; 
  	padding: 0;
    display:flex;
    flex-direction:column;
}

nav a, nav a:hover, nav a:visited
{
}

body ul li
{
	list-style:none;
}

header>#logo
{
	position:absolute;
	left:0%;
	top:6.5%;
	margin-left:3%;
	padding:0px;
}

header>#titre /*Pour modifier l'apparence du titre du site.*/
{

	color:rgb(190,37,24);
	font-size:3em;
	text-align:center;
	font-weight:bold;
	text-shadow:1px 1px 0.5px #EB9898;
	margin:0%;
	padding-top:3%;
}

header>#bandeau
{
	width:90%;
	height:15px;
	text-align:right;
	margin:0px;
	padding:1%;
}

#bandeau a:hover
{
	font-weight: bold;
}

/*Enlève le soulignement des liens, et les mets en gras quand on les survole.*/
a, a:hover, a:visited
{
	text-decoration:none;
}

/*Modifie la couleur des liens dans l'en-tête.*/
header a, header a:hover, header a:visited
{
	color:#4D585C;
}

header a:hover
{
	text-decoration:underline;
}

header p /*Pour modifier l'apparence de la bande de l'en-tête.*/
{
	text-decoration:none;
	font-style:normal;
	color:#4D585C;
}

/**************** Page d'accueil ******************/

#bienvenue
{
	border: solid grey 3px;
	border-radius:15px;
	padding-left:3%;
	box-shadow: 1px 1px rgba(180,180,180,0.7);
	background-color: rgb(240,240,240);
	padding-top: 1%;
	width: 58%;
	text-align: justify;
	padding-right: 2%;
}

/**************** Partie "content" ******************/

#content
{
	margin-top:2%;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-around;
	align-items:flex-start;
}

#content>#matière
{
	align-self:center;
}

#barre_gauche
{
	position:fixed;
	left:1.5%;
	border:solid #635B5B;
	border-radius:15px;
	flex-grow:1;
	padding:0.5%;
	margin-left:0.8%;
	display:column;
	width:135px;
}

#barre_gauche .partie
{

	font-size:1.2em;
	font-weight:bold;
}

#barre_gauche a:hover
{
	font-weight:bold;
}

#matière
{
	flex-grow:10;
	border:solid #635B5B;
	border-radius:15px;
	margin-left:20%;
	margin-right:7%;
	padding:1%;
}

#corps
{
	display: flex;
	justify-content: space-around;
}