.titre4
{
	text-align: center;
}
.patinoires li
{
	text-decoration: underline;
}

.contenu a
{
	color: darkblue; 
}
.img_ville
{
	width:50%;	
	height: auto;
}
.attention
{
	color: darkred;
	text-decoration: bold;
}
.carte
{
	width: 100%;
	height: auto;
}